<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Create</title>
        <meta name="description" content="Show your idea" />
        <meta name="keywords" content="create" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/normalize.css')}} />
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/demo.css')}} />
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/component.css')}} />
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/cs-select.css')}} />
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/cs-skin-boxes.css')}} />
        <script src={{url_for('static', filename='js/modernizr.custom.js')}}></script>
    </head>
    <body>
        <div class="container">

            <div class="fs-form-wrap" id="fs-form-wrap">
                <div class="fs-title">
                    <h1>Show your idea</h1>
                    <div class="codrops-top">
                        <a class="codrops-icon codrops-icon-prev" href="/index"><span>Back</span></a>
                    </div>
                </div>
                <form id="myform" class="fs-form fs-form-full" autocomplete="off" action="/newpost" method="POST">
                    <ol class="fs-fields">
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q1" data-info="We won't send you spam, we promise...">What's your email address?</label>
                            <input class="fs-anim-lower" id="q1" name="q1" type="email" placeholder="Enter your Andrew Email" required/>
                        </li>                       
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q2">Project Name</label>
                            <input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="Destroy the Earth" required/>
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q3">Keywords</label>
                            <input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="Machine Learning" required/>
                        </li>                       
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q4">Objective</label>
                            <textarea class="fs-anim-lower" id="q4" name="q4" placeholder="What do you want to do?" required></textarea>
                        </li>                       
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q5">Description</label>
                            <textarea class="fs-anim-lower" id="q5" name="q5" placeholder="Tell us more about your project." required></textarea>
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q6">Requirement</label>
                            <textarea class="fs-anim-lower" id="q6" name="q6" placeholder="Whom do you want to work with?" required></textarea>
                        </li>
                        <li>
                            <label class="fs-field-label fs-anim-upper" for="q7">Special Announcement</label>
                            <textarea class="fs-anim-lower" id="q7" name="q7" placeholder="No."></textarea>
                        </li>                        
                    </ol><!-- /fs-fields -->
                    <button class="fs-submit" type="submit">Send answers</button>
                </form><!-- /fs-form -->
            </div><!-- /fs-form-wrap -->

        </div><!-- /container -->
        <script src={{url_for('static', filename='js/classie.js')}}></script>
        <script src={{url_for('static', filename='js/selectFx.js')}}></script>
        <script src={{url_for('static', filename='js/fullscreenForm.js')}}></script>
        <script>
            (function() {
                var formWrap = document.getElementById( 'fs-form-wrap' );

                [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {    
                    new SelectFx( el, {
                        stickyPlaceholder: false,
                        onChange: function(val){
                            document.querySelector('span.cs-placeholder').style.backgroundColor = val;
                        }
                    });
                } );

                new FForm( formWrap, {
                    onReview : function() {
                        classie.add( document.body, 'overview' ); // for demo purposes only
                    }
                } );
            })();
        </script>
    </body>
</html>