<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>ideaHeap</title>
        <meta name="description" content="Not implemented." />
        <meta name="keywords" content="Not implemented." />
        <!--<link rel="shortcut icon" href="../favicon.ico">-->

        <link href='http://fonts.googleapis.com/css?family=Raleway:100,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='fonts/font-awesome-4.2.0/css/font-awesome.min.css')}} />
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/demo_search.css')}} />
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/component_search.css')}} />

        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/normalize.css')}} />
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/demo_index.css')}} />
        <link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/component_index.css')}} />
        <script src="{{url_for('static', filename='js/modernizr.custom_index.js')}}"></script>
    </head>
    <body>
        <div id="vs-container" class="vs-container">
            <div id="user-panel" class="user-panel">
                <h4><a href="/usr/{{userid}}">{{current_user.name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout">Logout</a></h4>
            </div>
            <div id="morphsearch" class="morphsearch">
                <form class="morphsearch-form" autocomplete="off" action="/search" method="POST">
                    <input class="morphsearch-input" type="search"  id="searchbox" name="searchbox" placeholder="Search..."/>
                    <button class="morphsearch-submit" type="submit">Search</button>
                </form>
                <div class="morphsearch-content">
                    <div class="dummy-column">
                        <h2>Recent</h2>
                        {% for i in recents %}
                            <a class="dummy-media-object" href="/detail/{{i.ID}}">
                                <h3>{{ i.title }}</h3>
                            </a>
                        {% endfor %}
                    </div>
                </div><!-- /morphsearch-content -->
                <span class="morphsearch-close"></span>
            </div><!-- /morphsearch -->         
            <header class="vs-header">
                <h1><a href="/index">ideaHeap</a> <span><a href="/create">Share ideas, find teammates.</a></span></h1>
                <ul class="vs-nav">
                    {% for i in posts %}
                        <li><a href="#section-{{ loop.index }}">{{i.title}}</a></li>
                    {% endfor %}
                </ul>
            </header>
            <div class="vs-wrapper">
                {% for i in posts %}
                    <section id="section-{{ loop.index }}">
                        <div class="vs-content">
                            <h2>{{i.objective}}</h2>
                            <div class="col">
                                <h3>Description</h3>
                                {{i.description}}
                                <h3>Requirement</h3>
                                {{i.requirement}}
                                <h3>Special Announcement</h3>
                                {{i.announcement}}
                                <h3>Contact</h3>
                                {{i.email}}
                            </div>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div><!-- /vs-container -->
        <script src="{{url_for('static', filename='js/classie.js')}}"></script>
        <script src="{{url_for('static', filename='js/hammer.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        <script>
            (function() {
                var morphSearch = document.getElementById( 'morphsearch' ),
                    input = morphSearch.querySelector( 'input.morphsearch-input' ),
                    ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
                    isOpen = isAnimating = false,
                    // show/hide search area
                    toggleSearch = function(evt) {
                        // return if open and the input gets focused
                        if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

                        var offsets = morphsearch.getBoundingClientRect();
                        if( isOpen ) {
                            classie.remove( morphSearch, 'open' );

                            // trick to hide input text once the search overlay closes 
                            // todo: hardcoded times, should be done after transition ends
                            if( input.value !== '' ) {
                                setTimeout(function() {
                                    classie.add( morphSearch, 'hideInput' );
                                    setTimeout(function() {
                                        classie.remove( morphSearch, 'hideInput' );
                                        input.value = '';
                                    }, 300 );
                                }, 500);
                            }
                            
                            input.blur();
                        }
                        else {
                            classie.add( morphSearch, 'open' );
                        }
                        isOpen = !isOpen;
                    };

                // events
                input.addEventListener( 'focus', toggleSearch );
                ctrlClose.addEventListener( 'click', toggleSearch );
                // esc key closes search overlay
                // keyboard navigation events
                document.addEventListener( 'keydown', function( ev ) {
                    var keyCode = ev.keyCode || ev.which;
                    if( keyCode === 27 && isOpen ) {
                        toggleSearch(ev);
                    }
                } );

            })();
        </script>        
    </body>
</html>