<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>ideaHeap</title>
		<meta name="description" content="Not implemented." />
		<meta name="keywords" content="Not implemented." />
		<!--<link rel="shortcut icon" href="../favicon.ico">-->
		<link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/normalize_index.css')}} />
		<link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/demo_index.css')}} />
		<link rel="stylesheet" type="text/css" href={{url_for('static',filename='css/component_index.css')}} />
		<script src="{{url_for('static', filename='js/modernizr.custom_index.js')}}"></script>
	</head>
	<body>
		<div id="vs-container" class="vs-container">
			<header class="vs-header">
				<h1>ideaHeap <span>Share ideas, find teammates.</span></h1>
				<ul class="vs-nav">
					<li><a href="#section-1">{{posts[0].title}}</a></li>
					<li><a href="#section-2">{{posts[1].title}}</a></li>
					<li><a href="#section-3">{{posts[2].title}}</a></li>
					<li><a href="#section-4">{{posts[3].title}}</a></li>
					<li><a href="#section-5">{{posts[4].title}}</a></li>
					<li><a href="#section-6">{{posts[5].title}}</a></li>
					<li><a href="#section-7">{{posts[6].title}}</a></li>
					<li><a href="#section-8">{{posts[7].title}}</a></li>
					<li><a href="#section-9">{{posts[8].title}}</a></li>
				</ul>
			</header>
			<div class="vs-wrapper">
				<section id="section-1">
					<div class="vs-content">
						<h2>{{posts[0].objective}}</h2>
						<div class="col">
							<p>Description</p>
							{{posts[0].description}}
							<p>Requirement</p>
							{{posts[0].requirement}}
							<p>Special Announcement</p>
							{{posts[0].announcement}}							
						</div>
					</div>
				</section>
				<section id="section-2">
					<div class="vs-content">
						<h2>{{posts[1].objective}}</h2>
						<div class="col">
							<p>Description</p>
							{{posts[1].description}}
							<p>Requirement</p>
							{{posts[1].requirement}}
							<p>Special Announcement</p>
							{{posts[1].announcement}}
						</div>
					</div>
				</section>
				<section id="section-3">
					<div class="vs-content">
						<h2>{{posts[2].objective}}</h2>
						<div class="col">
							<p>Description</p>
							{{posts[2].description}}
							<p>Requirement</p>
							{{posts[2].requirement}}
							<p>Special Announcement</p>
							{{posts[2].announcement}}
						</div>
					</div>
				</section>
				<section id="section-4">
					<div class="vs-content">
						<h2>{{posts[3].objective}}</h2>
						<div class="col">
							<p>Description</p>
							{{posts[3].description}}
							<p>Requirement</p>
							{{posts[3].requirement}}
							<p>Special Announcement</p>
							{{posts[3].announcement}}
						</div>
					</div>
				</section>
				<section id="section-5">
					<div class="vs-content">
						<h2>{{posts[4].objective}}</h2>
						<div class="col">
							<p>Description</p>
							{{posts[4].description}}
							<p>Requirement</p>
							{{posts[4].requirement}}
							<p>Special Announcement</p>
							{{posts[4].announcement}}
						</div>
					</div>
				</section>
				<section id="section-6">
					<div class="vs-content">
						<h2>{{posts[5].objective}}</h2>
						<div class="col">
							<p>Description</p>
							{{posts[5].description}}
							<p>Requirement</p>
							{{posts[5].requirement}}
							<p>Special Announcement</p>
							{{posts[5].announcement}}
						</div>
					</div>
				</section>
				<section id="section-7">
					<div class="vs-content">
						<h2>{{posts[6].objective}}</h2>
						<div class="col">
							<p>Description</p>
							{{posts[6].description}}
							<p>Requirement</p>
							{{posts[6].requirement}}
							<p>Special Announcement</p>
							{{posts[6].announcement}}
						</div>
					</div>
				</section>
				<section id="section-8">
					<div class="vs-content">
						<h2>{{posts[7].objective}}</h2>
						<div class="col">
							<p>Description</p>
							{{posts[7].description}}
							<p>Requirement</p>
							{{posts[7].requirement}}
							<p>Special Announcement</p>
							{{posts[7].announcement}}
						</div>
					</div>
				</section>
				<section id="section-9">
					<div class="vs-content">
						<h2>{{posts[8].objective}}</h2>
						<div class="col">
							<p>Description</p>
							{{posts[8].description}}
							<p>Requirement</p>
							{{posts[8].requirement}}
							<p>Special Announcement</p>
							{{posts[8].announcement}}
						</div>
					</div>
				</section>
			</div>
		</div><!-- /vs-container -->
		<script src="{{url_for('static', filename='js/classie.js')}}"></script>
		<script src="{{url_for('static', filename='js/hammer.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/main.js')}}"></script>
	</body>
</html>